html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-image: url("../img/back_blurred.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center;
	font-family: arial;
	text-shadow: 0px 0px 10px rgba(0.0, 0.0, 0.0, 1.0);
}

.first-page {
	background-image: url("../img/back.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: center;
	height: 100vh;
	position: relative;
	z-index: -2;
}

.content-page {
	background-color: #666;
	min-height: 75vh;
}

.footer-page {
	width: 100%;
	height: 300px;
}

.navbutton {
	background-color: #222;
	color: #ddd;
	padding: 16px;
	font-size: 1.6rem;
	border: none;
	position: relative;
	display: inline-block;
}

.navbuttonselected {
	background-color: #444;
}

.navbutton:hover {
	background-color: #333;
}

.navbuttonselected:hover {
	background-color: #555;
}

.navbar {
	overflow: hidden;
	background-color: #222;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.mainlink {
	padding: 16x;
	text-decoration: none;
	font-size: 2rem;
	color: #ddd;
}

.mainlink:used {
	color: #ddd;
}

.title {
	padding-top: 40vh;
	font-size: 10rem;
	font-weight: bold;
	color: #ddd;
	position: relative;
	text-align: center;
}

.content-title {
	padding-top: 20px;
	font-size: 4rem;
	font-weight: bold;
	color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	background: #555;
}

.content-page-id {
	margin-top: 20vh;
	padding-top: 50px;
	min-height: 100vh;
}

.block {
	position: center;
	display: inline-block;
}

.block .sub-block {
	margin-top: 20px;
	font-size: 2rem;
	display: block;
	color: #fff;
	text-align: left;
}

.discord-overlay {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0.2, 0.2, 0.2, 0.3);
	z-index: 10;
}

.discord-overlay .discord-window {
	position: relative;
	color: white;
	background-color: #333;
	text-align: center;
	width: 350px;
	padding-top: 10px;
	font-size: 2rem;
	top: calc(50vh - 48px);
	left: calc(50vw - 175px);
}

.discord-overlay .discord-window .discord-buttons .discord-button {
	cursor: pointer;
	padding: 10px 30px;
	margin: 10px 30px;
	background-color: #444;
	display: inline-block;
}

.discord-overlay .discord-window .discord-buttons .discord-button:hover {
	background-color: #555;
}

#particles-js {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	heigth: 100%;
	z-index: -1;
}