/* this file is mainly from https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
everything by me is marked with "this"*/
.fab {
	padding-top: 40px;    /*this*/
	padding-bottom: 40px; /*this*/
	width: 200px;         /*this*/
	font-size: 120px;     /*this*/
	text-align: center;
	text-decoration: none;
	margin: 10px 5px;
	border-radius: 75px;  /*this*/
	transition: opacity 1.0s ease;
	cursor: pointer;
	text-shadow: 3px 1.5px rgba(0, 0, 0, 0.5);
	color: white;
}

.fab:hover {
    opacity: 0.5;
}

.fa-twitter {
	background: #55ACEE;
}

.fa-youtube {
	background: #bb0000;
}

.fa-instagram {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.fa-reddit {
	background: #ff5700;
}

.fa-github { /*this*/
	background: #24292e;
}

.fa-steam { /*this*/
	background: #2a475e;
}

.fa-discord {
	background: #7289da;
}

.fa-twitch {
	background: #9147ff;
}